h4{
    font-weight: 500;
    font-size: 22px;
}
.image img{
    width: 110px;
    height: 110px;
}
.image{
    margin-top: 20px;
    margin-bottom: 15px;
}
.spann{
    color: #FFFFFF;
}
.nen{
    background-color: black;
    color:#FFFFFF;
}
.nen:hover{
    background: #084298;
}
.blog-element{
    padding: 0 30px;
}
.blog-text{
    padding: 30px 7px 0 0;
}
.content{
    padding: 0 0 30px;
}